name: "Enable Built-in Security Features"

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  security-events: write

jobs:
  configure-security:
    runs-on: ubuntu-latest
    steps:
      - name: Enable GitHub Advanced Security
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        with:
          script: |
            const security = await github.request("PUT /repos/{owner}/{repo}/automated-security-fixes", {
              owner: context.repo.owner,
              repo: context.repo.repo,
            });
            core.info(`Automated security fixes status: ${security.status}`);
